<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/client/fragments :: common_head('Giỏ hàng')"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/gio-hang.css}">
</head>

<body>
    <nav th:replace="/client/fragments :: page_navbar"></nav>

    <section th:replace="/client/fragments :: below_navbar_hide_categories"></section>

    <!-- giao diện giỏ hàng  -->
    <section class="content my-3">
        <div class="container-lg">
            <div class="cart-page bg-white">
                <div class="row">
                    <!-- giao diện giỏ hàng khi không có item  -->
                    <div th:unless="${cartItems.size > 0}" class="col-lg-10 cart-empty mx-auto">
                        <!-- col-12 d-none -->
                        <div class="py-3 pl-3">
                            <h6 class="header-gio-hang">GIỎ HÀNG CỦA BẠN</h6>
                            <div class="cart-empty-content w-100 text-center justify-content-center">
                                <img th:src="@{assets/images/icons/shopping-cart-not-product.png}"
                                    alt="shopping-cart-not-product">
                                <p>Chưa có sản phẩm nào trong giở hàng của bạn</p>
                                <a href="/fteam" class="btn nutmuathem mb-3">Mua thêm</a>
                            </div>
                        </div>
                    </div>

                    <!-- giao diện giỏ hàng khi có hàng (phần comment màu xanh bên dưới là phần 2 sản phẩm trong giỏ hàng nhưng giờ đã demo bằng jquery) -->
                    <div th:if="${cartItems.size > 0}" class="col-lg-10 cart mx-auto">
                        <div class="cart-content py-3 pl-3 ">
                            <h6 class="header-gio-hang">GIỎ HÀNG CỦA BẠN</span>
                            </h6>
                            <div class="cart-list-items">
                                <div th:each="item, status : ${cartItems}" th:id="'row' + ${status.count}" class="cart-item d-flex my-3">
                                    <span class="d-flex align-items-center" style="min-width: 20px;">
                                        [[${status.count}]]
                                    </span>
                                    <a th:href="@{'/product-details/' + ${item.product.id}}" class="img">
                                        <img th:src="@{${item.product.mainImagePath}}" class="img-fluid"
                                            th:alt="${item.product.productName}">
                                    </a>
                                    <div class="item-caption d-flex w-100">
                                        <div class="item-info ml-3">
                                            <a th:href="@{'/product-details/' + ${item.product.id}}"
                                                class="ten">[[${item.product.productName}]]</a>
                                            <div class="soluong d-flex">
                                                <div class="input-number input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span th:pid="${item.product.id}"
                                                            class="input-group-text btn-spin btn-decrease">-</span>
                                                    </div>
                                                    <input type="text" th:value="${item.quantity}"
                                                        class="soluongsp text-center"
                                                        th:id="'quantity' + ${item.product.id}"
                                                        onkeydown="return false;">
                                                    <div class="input-group-append">
                                                        <span th:pid="${item.product.id}"
                                                            class="input-group-text btn-spin btn-increase">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price ml-auto mr-5 d-flex flex-column align-items-end">
                                            <div class="giamoi font-weight-bold">[[${item.product.newPrice}]]₫</div>
                                            <div class="giacu">[[${item.product.oldPrice}]]₫</div>
                                        </div>
                                        <div class="item-price ml-auto d-flex flex-column align-items-end">
                                            <div class="">
                                                <b th:id="'subtotal' + ${item.product.id}" class="productSubtotal h5">
                                                    [[${item.formatSubtotal}]]₫
                                                </b>
                                            </div>
                                            <span class="remove mt-auto">
                                                <a th:href="@{'/cart/delete/' + ${item.product.id}}"
                                                    class="link-remove" th:rowNumber="${status.count}">
                                                    <i class="far fa-trash-alt text-dark"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="/fteam" class="btn nutmuathem mb-3">Mua thêm</a>
                                </div>
                                <div class="col-md-5 offset-md-4">
                                    <div class="tonggiatien">
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Tạm tính:</p>
                                            <b>
                                                <p class="tamtinh">328.000 ₫</p>
                                            </b>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Giảm giá:</p>
                                            <del>
                                                <p class="giamgia ">0 ₫</p>
                                            </del>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Phí vận chuyển:</p>
                                            <p class="phivanchuyen">0 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Phí dịch vụ:</p>
                                            <p class="phidicvu">0 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between align-items-center">
                                            <strong class="text-uppercase">Tổng cộng:</strong>
                                            <p class="tongcong"></p>
                                        </div>
                                        <small class="note d-flex justify-content-end text-muted">
                                            (Giá đã bao gồm VAT)
                                        </small>
                                        <div class="d-flex justify-content-end mt-3">
                                            <a th:href="@{/}" class="btn btn-success">Thanh toán</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- het row  -->
            </div>
            <!-- het cart-page  -->
        </div>
        <!-- het container  -->
    </section>
    <!-- het khoi content  -->

    <!-- th:repalce footer -->
    <div th:replace="/client/fragments :: page_footer"></div>

    <script>
        $(document).ready(function () {
            updateBill();

            $('.btn-increase').click(function () {
                let productId = $(this).attr('pid');
                let qtyInput = $("#quantity" + productId);
                let newVal = parseFloat(qtyInput.val()) + 1;
                updateQuantity(productId, newVal);
                qtyInput.val(newVal);
            });

            $('.btn-decrease').click(function () {
                let productId = $(this).attr('pid');
                let qtyInput = $("#quantity" + productId);
                let oldValue = parseFloat(qtyInput.val());
                if (oldValue > 1) {
                    let newVal = parseFloat(oldValue) - 1;
                    updateQuantity(productId, newVal);
                    qtyInput.val(newVal);
                }
            });

            $('.link-remove').click(function (e) {
                e.preventDefault();
                if (confirm('Bạn muốn xoá sản phẩm này khỏi giỏ hàng?')) {
                    removeFromCart($(this));
                }
            });
        });

        function removeFromCart(button) {
            url = button.attr('href');
            console.log(url);

            $.ajax({
                type: "POST",
                url: url
            }).done(function (response) {
                updateBill();
                if (response.includes("Đã")) {
                    rowNumber = button.attr('rowNumber');
                    $('#row' + rowNumber).remove();
                    updateBill();
                    alert(response);
                }
            }).fail(function () {
                alert('Xoá khỏi giỏ hàng thất bại');
            });
        }

        function updateQuantity(productId, quantity) {
            let contextPath = "[[@{/}]]";
            url = contextPath + 'cart/update/' + productId + '/' + quantity;
            console.log(url);

            $.ajax({
                type: "POST",
                url: url
            }).done(function (newSubtotal) {
                updateSubtotal(productId, newSubtotal);
                updateBill();
            }).fail(function () {
                alert('Cập nhật giỏ hàng thất bại');
            });
        }

        // calculate bill
        function updateBill() {
            updateTamTinh();
            updateDiscount();
            updateTotal();
        }

        function updateSubtotal(productId, newSubtotal) {
            console.log(newSubtotal);
            newSubtotal = toFloat(newSubtotal);
            console.log(newSubtotal);
            $('#subtotal' + productId).text(formatToCurrency(newSubtotal) + ' ₫');
        }

        function updateTamTinh() {
            let tamTinh = 0;
            $('.giacu').each(function () {
                let qty = $(this).parent().parent().find('input').val();
                tamTinh += parseInt(toFloat($(this).text()) * qty);
            });
            $('.tamtinh').text(formatToCurrency(tamTinh) + ' ₫');
        }

        function updateDiscount() {
            let tongGiaCu = 0;
            let tongGiaMoi = 0;
            $('.giacu').each(function () {
                let qty = $(this).parent().parent().find('input').val();
                tongGiaCu += parseInt(toFloat($(this).text()) * qty);
            });
            $('.giamoi').each(function () {
                let qty = $(this).parent().parent().find('input').val();
                tongGiaMoi += parseInt(toFloat($(this).text()) * qty);
            });
            let giamGia = tongGiaCu - tongGiaMoi;
            $('.giamgia').text(formatToCurrency(giamGia) + ' ₫');
        }

        function updateTotal() {
            let total = 0;
            $('.productSubtotal').each(function () {
                total += parseInt(toFloat($(this).text()));
            });

            // shipping fee
            if (total > 300000) {
                $('.phivanchuyen').text('0 ₫');
            } else {
                $('.phivanchuyen').text('30.000 ₫');
            }

            $('.tongcong').text(formatToCurrency(total) + ' ₫');
        }

        function formatToCurrency(amount) {
            return (amount).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&.');
        }

        function toFloat(amount) {
            let regex = /[.,\s]/g;
            return parseFloat(amount.replace(regex, ''));
        }
    </script>
</body>

</html>