<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/client/fragments :: common_head('Giỏ hàng')"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/gio-hang.css}">
</head>

<body>
    <nav th:replace="/client/fragments :: page_navbar"></nav>

    <section th:replace="/client/fragments :: below_navbar_hide_categories"></section>

    <span th:if="${cartItems.size > 0}">have items</span>
    <span th:unless="${cartItems.size > 0}">no items</span>

    <!-- giao diện giỏ hàng  -->
    <section class="content my-3">
        <div class="container-lg">
            <div class="cart-page bg-white">
                <div class="row">
                    <!-- giao diện giỏ hàng khi không có item  -->
                    <div th:unless="${cartItems.size > 0}" class="col-lg-10 cart-empty mx-auto">
                        <!-- col-12 d-none -->
                        <div class="py-3 pl-3">
                            <h6 class="header-gio-hang">GIỎ HÀNG CỦA BẠN <span>(0 sản phẩm)</span></h6>
                            <div class="cart-empty-content w-100 text-center justify-content-center">
                                <img th:src="@{assets/images/icons/shopping-cart-not-product.png}"
                                    alt="shopping-cart-not-product">
                                <p>Chưa có sản phẩm nào trong giở hàng của bạn</p>
                                <a href="/fteam" class="btn nutmuathem mb-3">Mua thêm</a>
                            </div>
                        </div>
                    </div>

                    <!-- giao diện giỏ hàng khi có hàng (phần comment màu xanh bên dưới là phần 2 sản phẩm trong giỏ hàng nhưng giờ đã demo bằng jquery) -->
                    <div th:if="${cartItems.size > 0}" class="col-lg-10 cart mx-auto">
                        <div class="cart-content py-3 pl-3 ">
                            <h6 class="header-gio-hang">GIỎ HÀNG CỦA BẠN <span>([[${cartItems.size}]] sản phẩm)</span>
                            </h6>
                            <div class="cart-list-items">
                                <div th:each="item, status : ${cartItems}" class="cart-item d-flex my-3">
                                    <span class="d-flex align-items-center" style="min-width: 20px;">
                                        [[${status.count}]]
                                    </span>
                                    <a th:href="@{'/product-details/' + ${item.product.id}}" class="img">
                                        <img th:src="@{${item.product.mainImagePath}}" class="img-fluid"
                                            th:alt="${item.product.productName}">
                                    </a>
                                    <div class="item-caption d-flex w-100">
                                        <div class="item-info ml-3">
                                            <a th:href="@{'/product-details/' + ${item.product.id}}"
                                                class="ten">[[${item.product.productName}]]</a>
                                            <div class="soluong d-flex">
                                                <div class="input-number input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text btn-spin btn-dec">-</span>
                                                    </div>
                                                    <input type="text" th:value="${item.quantity}"
                                                        class="soluongsp text-center"
                                                        th:id="'quantity' + ${item.product.id}"
                                                        onkeydown="return false;">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text btn-spin btn-inc">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-price ml-auto mr-5 d-flex flex-column align-items-end">
                                            <div class="giamoi"><b>[[${item.product.newPrice}]]₫</b></div>
                                            <div class="giacu">[[${item.product.oldPrice}]]₫</div>
                                        </div>
                                        <div class="item-price ml-auto d-flex flex-column align-items-end">
                                            <div class="giamoi"><b class="h5">[subtotal}]]₫</b></div>
                                            <span class="remove mt-auto">
                                                <a th:href="@{/}"><i class="far fa-trash-alt text-dark"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="/fteam" class="btn nutmuathem mb-3">Mua thêm</a>
                                </div>
                                <div class="col-md-5 offset-md-4">
                                    <div class="tonggiatien">
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Tạm tính:</p>
                                            <p class="tamtinh">328.000 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Giảm giá:</p>
                                            <p class="giamgia">0 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Phí vận chuyển:</p>
                                            <p class="phivanchuyen">0 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between">
                                            <p class="label">Phí dịch vụ:</p>
                                            <p class="phidicvu">0 ₫</p>
                                        </div>
                                        <div class="group d-flex justify-content-between align-items-center">
                                            <strong class="text-uppercase">Tổng cộng:</strong>
                                            <p class="tongcong">328.000 ₫</p>
                                        </div>
                                        <small class="note d-flex justify-content-end text-muted">
                                            (Giá đã bao gồm VAT)
                                        </small>
                                        <div class="d-flex justify-content-end mt-3">
                                            <a th:href="@{/}" class="btn btn-success">Thanh toán</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- het row  -->
            </div>
            <!-- het cart-page  -->
        </div>
        <!-- het container  -->
    </section>
    <!-- het khoi content  -->

    <!-- th:repalce footer -->
    <div th:replace="/client/fragments :: page_footer"></div>

    <script>

    </script>
</body>

</html>