<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <th:block th:replace="/client/fragments :: common_head('Lỗi')"></th:block> -->
    <th:block th:fragment="common_head(title)">
        <title>FTeam - [[${title}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
        <link rel="stylesheet" th:href="@{/assets/fontawesome_free_5.13.0/css/all.css}">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">

        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/assets/slick/slick.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/slick/slick-theme.css}" />
        <script type="text/javascript" th:src="@{/assets/slick/slick.min.js}"></script>
        <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon-16x16.png}">
        <link rel="manifest" th:href="@{/assets/favicon_io/site.webmanifest}">
    </th:block>
</head>

<body>

    <!-- Navbar -->
    <!-- <nav th:replace="/client/fragments :: page_navbar"></nav> -->
    <div th:fragment="page_navbar">
        <nav class="navbar navbar-expand-md bg-white navbar-light">
            <div class="container">
                <!-- logo  -->
                <a class="navbar-brand" th:href="@{/}" style="color: #CF111A;"><b>FT</b>eam</a>

                <!-- navbar-toggler  -->
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <!-- form tìm kiếm  -->
                    <form class="form-inline ml-auto my-2 my-lg-0 mr-3">
                        <div class="input-group" style="width: 520px;">
                            <input type="text" class="form-control" aria-label="Small" placeholder="Tìm kiếm...">
                            <div class="input-group-append">
                                <button type="button" class="btn" style="background-color: #CF111A; color: white;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- ô đăng nhập đăng ký giỏ hàng trên header  -->
                    <ul class="navbar-nav mb-1 ml-auto">
                        <!-- Chưa đăng nhập -->
                        <div th:if="${session.customer == null}" class="dropdown">
                            <li class="nav-item account btn dropdown" type="button" data-toggle="dropdown">
                                <a href="#" class="btn btn-secondary rounded-circle">
                                    <i class="fa fa-user"></i>
                                </a>
                                <a class="nav-link text-dark text-uppercase" href="#" style="display:inline-block">Tài
                                    khoản</a>
                            </li>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item nutdangky text-center mb-2" th:href="@{/account/signup}">Đăng
                                    ký</a>
                                <a class="dropdown-item nutdangnhap text-center" th:href="@{/account/signin}">Đăng
                                    nhập</a>
                            </div>
                        </div>

                        <!-- Đã đăng nhập -->
                        <div th:if="${session.customer != null}" class="dropdown">
                            <li class="nav-item account btn dropdown" type="button" data-toggle="dropdown">
                                <a href="#" class="btn btn-secondary rounded-circle">
                                    <th:block th:if="${session.customer.photo != null}">
                                        <img th:src="${session.customer.photo}" alt="${session.customer.fullname}">
                                    </th:block>
                                    <th:block th:else>
                                        <i class="fa fa-user"></i>
                                    </th:block>
                                </a>
                                <a class="nav-link text-dark text-uppercase" href="#" style="display:inline-block">
                                    [[${session.customer.fullname}]]
                                </a>
                            </li>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item text-center mb-2" th:href="@{/account/edit}">Chỉnh sửa hồ sơ</a>
                                <a class="dropdown-item text-center mb-2" th:href="@{/account/change-password}">Đổi mật
                                    khẩu</a>
                                <a class="dropdown-item text-center" href="javascript:void(0)"
                                    onclick="document.getElementById('form-signout').submit();">
                                    Đăng xuất
                                    <form th:action="@{/account/signout}" id="form-signout" method="post"></form>
                                </a>
                            </div>
                        </div>

                        <li class="nav-item giohang mt-2">
                            <a th:href="@{/cart}" class="btn btn-secondary rounded-circle">
                                <i class="fa fa-shopping-cart"></i>
                                <!-- <div class="cart-amount">&nbsp;</div> -->
                            </a>
                            <a class="nav-link text-dark giohang text-uppercase" th:href="@{/cart}"
                                style="display:inline-block">Giỏ Hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- thanh "danh muc sach" đã được ẩn bên trong + hotline + ho tro truc tuyen -->
    <!-- <section th:replace="/client/fragments :: below_navbar_hide_categories"></section> -->
    <section th:fragment="below_navbar_hide_categories" class="duoinavbar">
        <div class="container text-white">
            <div class="row justify">
                <div class="col-lg-3 col-md-5">
                    <div class="categoryheader">
                        <div class="noidungheader text-white">
                            <i class="fa fa-bars"></i>
                            <span class="text-uppercase font-weight-bold ml-1">Danh mục sách</span>
                        </div>
                        <!-- CATEGORIES -->
                        <div class="categorycontent h-100 border border-3">
                            <ul>
                                <li th:each="category : ${categories}">
                                    <a th:href="@{'/category/' + ${category.id}}">[[${category.name}]]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ml-auto contact d-none d-md-block">
                    <div class="benphai float-right">
                        <div class="hotline">
                            <i class="fa fa-phone"></i>
                            <span>Hotline:<b>1900 1999</b> </span>
                        </div>
                        <i class="fas fa-comments-dollar"></i>
                        <a href="#">Hỗ trợ trực tuyến </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- products block -->
    <div th:fragment="products_block(listProduct)" class="khoisanpham" style="padding-bottom: 2rem;">
        <!-- 1 san pham -->
        <div th:each="product : ${listProduct}">
            <!-- Product card -->
            <!-- <div th:replace="/client/fragments :: product_card"></div> -->
            <div th:fragment="product_card" class="card">
                <a th:href="@{'/product-details/' + ${product.id}}" class="motsanpham"
                    style="text-decoration: none; color: black;" data-toggle="tooltip" data-placement="bottom"
                    th:title="${product.productName}">
                    <img class="card-img-top anh" th:src="@{${product.mainImagePath}}" th:alt="${product.productName}">
                    <div class="card-body noidungsp mt-3">
                        <h6 class="card-title ten">[[${product.productName}]]</h6>
                        <small class="tacgia text-muted">[[${product.brand.name}]]</small>
                        <div class="gia d-flex align-items-baseline">
                            <div class="giamoi">[[${product.newPrice}]] ₫</div>
                            <th:block th:if="${product.discountPercent > 0}">
                                <div class="giacu text-muted">[[${product.oldPrice}]] ₫</div>
                                <div class="sale">-[[${product.discountPercent}]]%</div>
                            </th:block>
                        </div>
                        <div class="danhgia">
                            <ul class="d-flex" style="list-style: none;">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span class="text-muted">0 nhận xét</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- form register row -->
    <!-- <th:block th:replace="/client/fragments :: register_row('Email', 'email')"></th:block> -->
    <th:block th:fragment="register_row(field, type, label, placeholder)">
        <div class="form-group ">
            <div class="row">
                <label th:for="${field}" class="col-sm-3 col-form-label">[[${label}]]</label>
                <div class="col-sm-9">
                    <input th:field="*{__${field}__}" th:value="${param.field}" th:type="${type}" class="form-control"
                        th:placeholder="${placeholder}">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3"></label>
                <label th:if="${#fields.hasErrors(field)}" th:errors="*{__${field}__}" th:id="${field + '-error'}"
                    class="error col-sm-9" th:for="${field}"></label>
            </div>
        </div>
    </th:block>

    <!-- footer & abovefooter  -->
    <!-- <div th:replace="/client/fragments :: page_footer"></div> -->
    <div th:fragment="page_footer">
        <!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->
        <section class="abovefooter text-white" style="background-color: #CF111A;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="dichvu d-flex align-items-center">
                            <img class="rounded-circle" th:src="@{/assets/images/icons/icon-watch.png}"
                                alt="icon-watchs">
                            <div class="noidung">
                                <h3 class="tieude font-weight-bold">HƠN 46 HÃNG ĐỒNG HỒ CHẤT LƯỢNG</h3>
                                <p class="detail">Tuyển chọn bởi FTeam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="dichvu d-flex align-items-center">
                            <img th:src="@{/assets/images/icons/icon-ship.png}" alt="icon-ship">
                            <div class="noidung">
                                <h3 class="tieude font-weight-bold">MIỄN PHÍ GIAO HÀNG</h3>
                                <p class="detail">Đơn từ 300.000đ trên tất cả các tỉnh thành</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="dichvu d-flex align-items-center">
                            <img th:src="@{/assets/images/icons/icon-gift.png}" alt="icon-gift">
                            <div class="noidung">
                                <h3 class="tieude font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h3>
                                <p class="detail">Tặng khăn lau mặt kính</p>
                                <p class="detail">Đóng hộp sang trọng</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="dichvu d-flex align-items-center">
                            <img th:src="@{/assets/images/icons/icon-return.png}" alt="icon-return">
                            <div class="noidung">
                                <h3 class="tieude font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h3>
                                <p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <footer>
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="gioithieu">
                            <h3 class="header text-uppercase font-weight-bold">Về FTeam</h3>
                            <a href="#">Giới thiệu về FTeam</a>
                            <a href="#">Tuyển dụng</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="hotrokh">
                            <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
                            <a href="#">Hướng dẫn đặt hàng</a>
                            <a href="#">Phương thức thanh toán</a>
                            <a href="#">Phương thức vận chuyển</a>
                            <a href="#">Chính sách đổi trả</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="lienket">
                            <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
                            <img th:src="@{/assets/images/icons/dang-ky-bo-cong-thuong.png}"
                                alt="dang-ky-bo-cong-thuong">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="ptthanhtoan">
                            <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
                            <img th:src="@{/assets/images/icons/visa-payment.jpg}" alt="visa-payment">
                            <img th:src="@{/assets/images/icons/master-card-payment.jpg}" alt="master-card-payment">
                            <img th:src="@{/assets/images/icons/jcb-payment.jpg}" alt="jcb-payment">
                            <img th:src="@{/assets/images/icons/atm-payment.jpg}" alt="atm-payment">
                            <img th:src="@{/assets/images/icons/cod-payment.jpg}" alt="cod-payment">
                            <img th:src="@{/assets/images/icons/payoo-payment.jpg}" alt="payoo-payment">
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- nut cuon len dau trang -->
        <div class="fixed-bottom">
            <div class="btn btn-warning float-right rounded-circle nutcuonlen" id="backtotop" href="#"
                style="background:#CF111A;"><i class="fa fa-chevron-up text-white"></i></div>
        </div>
    </div>


</body>

</html>