<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/client/fragments :: common_head('Đăng ký')"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/tai-khoan.css}">
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>
<body>

	<div class="text-center">
		<h2>Customer Registration</h2>
		<p>Please check your email</p>
	</div>

</body>
</html>